
@{
    var index = ViewData["index"];
}

<div style="margin-top: 20px;">
    <a href="" data-lightbox="image"><img src="~/AdminLTE-2.4.3/dist/img/avatar3.png" style="height: 200px; width: 200px;" alt=""></a>
    <a href="" data-lightbox="image"><img src="~/AdminLTE-2.4.3/dist/img/prima-dopo.jpg" style="height: 200px; width: 200px;" alt=""></a>
</div>

